{% extends '/compras/base.html' %}

{% block title %}Compras{% endblock  %}

{% block contents %}
<br>
{% if user %}
<p>Bienvenido, {{user.username}}</p>
{% endif %}
<br>
<br>
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Id producto </th>
            <th> Proveedor </th>
            <th> Producto </th>
            <th> Precio unitario </th>
            <th> Cantidad </th>
            <th> Fecha de compra </th>
            <th> Total </th>
        </tr>
    </thead>
    
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.id_producto }}</td>
            <td>{{ item.proveedor }}</td>
            <td>{{ item.producto }}</td>
            <td>{{ item.precio_unitario }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.total_compra }}</td>
            <td><a href="{{ url_for('compras.EliminarCompra', id=item.id, id_producto = item.id_producto) }}">Eliminar</a></td>
            <td><a href="{{ url_for('compras.ActualizarCompra', id=item.id, id_producto=item.id_producto) }}">Actualizar </a></td>
        </tr>

        {% endfor %}
    </tbody>

</table>
<br>
<br>
<a href="{{ url_for('productos.home')}}">Ver Inventario</a>
<br>
<br>
<a href="{{ url_for('ventas.home')}}">Ver Ventas</a>

{% endblock  %}