{% extends '/compras/base.html' %}

{% block title %}Agregar Compra{% endblock  %}

{% block contents %}
<h1>Compra nueva</h1>
<br>
<h3>Por favor ingrese los detalles de la compra</h3>
{% if user %}
<br>
<br>
<form action="{{ url_for('compras.NuevaCompra', id_producto=id_producto) }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.proveedor.label }}
    {{ form.proveedor }}
    {{ form.precio_unitario.label }}
    {{ form.precio_unitario }}
    {{ form.cantidad.label }}
    {{ form.cantidad }}
    {{ form.fecha.label }}
    {{ form.fecha }}
    {{ form.submit }}

</form>
{% endif %}

{% endblock  %}