{% extends '/ventas/base.html' %}

{% block title %}Ventas{% endblock  %}

{% block contents %}
<br>
{% if user %}
<p>Bienvenido, {{user.username}}</p>
{% endif %}
<br>
<br>
<table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Id producto </th>
            <th> Cliente </th>
            <th> Producto </th>
            <th> Precio unitario de venta </th>
            <th> Cantidad vendida </th>
            <th> Fecha de venta </th>
            <th> Total </th>
        </tr>
    </thead>
    
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.id_producto }}</td>
            <td>{{ item.cliente }}</td>
            <td>{{ item.producto }}</td>
            <td>{{ item.precio_unitario }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.total_venta }}</td>
            <td><a href="{{ url_for('ventas.EliminarVenta', id=item.id, id_producto =item.id_producto) }}">Eliminar</a></td>
            <td><a href="{{ url_for('ventas.ActualizarVenta', id=item.id, id_producto =item.id_producto) }}">Actualizar </a></td>
        </tr>

        {% endfor %}
    </tbody>

</table>
<br>
<br>
<a href="{{ url_for('productos.home')}}">Inventario</a>
<br>
<br>
<a href="{{ url_for('compras.home')}}">Ver Compras</a>

{% endblock  %}