{% extends 'layout.html' %}
{% block title %}Your orders{% endblock %}
{% block contents %}
<h1>Your orders</h1>
<br>
<table>
    <tr>
        <th>Provider</th>
        <th>description</th>
        <th>unitcostpurchase</th>
        <th>Quantity</th>
        <th>unitcostsale</th>
        <th>Date</th>

    </tr>
{% for order in orders %}
    <tr>
        <td>{{order.provider}}r</td>
        <th>{{order.description}}</td>
        <td>{{order.unitcostpurchase}}</td>
        <td>{{order.Quantity}}</td>
        <td>{{order.unitcostsale}}</td>
        <td>{{order.date}}</td>
        <td><a href="{{ url_for('orderDetails.create', orderId=order.id) }}">Add order detail</a></td>
        <td><a href="{{ url_for('orderDetails.home', id_order=order.id)  }}">View order detail</a></td>
    </tr>

{% endfor %}
</table>





{% endblock %}