<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address the details</title>
</head>
<body>
    <table>
    <tr>
        <th>Quantity</th>
        <th>description</th>
        <th>unitCost</th>
        <th>totalCost</th>
    </tr>    

    {% for order in orders %}
    <tr>
        <td>{{order.quantity}}</td>
        <td>{{order.description}}r</td>
        <th>{{order.unitCost}}</td>
        <td>{{order.totalCost}}</td>
        
    </tr>

    {% endfor %}
</table>

</body>
</html>